@import 'tailwindcss';

@theme {
  /* Aquí solo variables limpias */
  --color-text-main: #6b6375;
  --color-text-heading: #08060d;
  --color-bg-site: #fff;
  --color-border-base: #e5e4e7;

  --color-brand-primary: #059669;
  --color-brand-accent: #a7f3d0;
  --color-accent: var(--color-brand-primary);
}

@layer base {
  /* Aquí es donde haces la magia del modo oscuro */
  @media (prefers-color-scheme: dark) {
    :root {
      --color-text-main: #9ca3af;
      --color-text-heading: #f3f4f6;
      --color-bg-site: #16171d;
      --color-border-base: #2e303a;
    }
  }

  :root {
    font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
    font-size: 18px;
    line-height: 145%;
    letter-spacing: 0.18px;
    color: var(--color-text-main);
    background: var(--color-bg-site);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  #root {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    border-inline: 1px solid var(--color-border-base);
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
}
